@media screen and (max-width: 1320px) {
    .header-block {
        width: 100%;
        gap: 0 40px;
        display: flex;
    }

    .hero-block {
        grid-template-columns: 500px 0;
        
    }

    .hero-block-innerBox {
        width: 450px;
    }
}